Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*

HeaderFilterRegex: ".*"

CheckOptions:
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.LocalVariableCase: camelBack
  readability-identifier-naming.GlobalVariableCase: camelBack
  readability-identifier-naming.StaticVariableCase: camelBack
  readability-identifier-naming.ConstantCase: UPPER_CASE
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
  readability-identifier-naming.StaticConstantCase: UPPER_CASE
  readability-identifier-naming.EnumConstantCase: CamelCase

WarningsAsErrors: ''
FormatStyle: file

